#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: white;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

td, th {
    padding: 10px;
}

.add_book_yes {
    color: green;
}

.add_book_no {
    color: red;
}

.filter_on {
    color: blue;
}

.footer {
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    color: #777;
}

.push {
    height: 60px;
}

