{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if books_exist %}
    <table class="table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td>
                <div class="row">
                    <div class="col-md-8">
                        <input class="with_button" type="text" id="AuthorFilter" onkeyup="filterTable()" placeholder="Filter" autofocus>
                        <button class="btn btn-default btn_inside" onclick="clearFilter(this)">Clear</button>
                    </div>
                </div>
            </td>
            <td>
                <div class="row">
                    <div class="col-md-8">
                        <input class="with_button" type="text" id="CategoryFilter" onkeyup="filterTable()" placeholder="Filter" autofocus>
                        <button class="btn btn-default btn_inside" onclick="clearFilter(this)">Clear</button>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
        {% for row in rows %}
            <tr class="short_text_row active_row" onclick="showHideFullText(this)">
                <td>{{row["title"]}}</td>
                <td>
                    {% for author in row["authors"] %}
                        {% if loop.index != loop.length %}
                            {{author["name"]}}, <br>
                        {% else %}
                            {{author["name"]}}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for category in row["categories"] %}
                        {% if loop.index != loop.length %}
                            {{category["category_name"]}}, <br>
                        {% else %}
                            {{category["category_name"]}}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{row["description"]}}</td>
            </tr>

            <tr class="full_text_row nonactive_row" onclick="showHideFullText(this)">
                <td>{{row["title"]}}</td>
                <td>
                    {% for author in row["authors"] %}
                        {% if loop.index != loop.length %}
                            {{author["name"]}}, <br>
                        {% else %}
                            {{author["name"]}}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for category in row["categories"] %}
                        {% if loop.index != loop.length %}
                            {{category["category_name"]}}, <br>
                        {% else %}
                            {{category["category_name"]}}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{row["description"]}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Try to add some books first.</p>
    {% endif %}

{% block scripts %}
    <script>
        window.onload = doShortText();
        window.onload = filterTable();
    </script>
    {{ super() }}
{% endblock %}

{% endblock %}